@using DrinkAndGo.PL.ViewModels
﻿
@model RegisterViewModel


<div class="row loginForm">
    <div class="col-md-8 col-md-offset-2">
        <h2>Register now at Drink&Go </h2>
        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
            <h4>Create a new account and order your first drink today!</h4>
            <hr />
            <div class="form-group my-2">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" required="" />
                </div>
            </div>
            <div class="form-group my-2">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" required="" />
                </div>
            </div>

            <div class="form-group my-2">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" required="" />
                </div>
            </div>
            <div class="form-group my-2">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" required="" />
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger" style="text-decoration:none;list-style:none;">
            </div>

            <div class="form-group pull-right formPullRightButton">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Log in" required="" />
                </div>
            </div>
        </form>
    </div>
</div>

