@using DrinkAndGo.PL.TagHelpers;
@model EmailTagHelper
<h1>Contact Us</h1>
<p>If You Have any Questions Please Don't Hesitate ti Contact Us</p>
<email address="maryamgm3323@gmail.com" content="Email Us"></email>



